<hr/>
<h2 style="text-align: center;"><strong>Dashboard</strong></p>
<hr/>

<p style="text-align: center;"><strong>General Information</strong></p>

<p style="text-align: left;">Average number of traces linked to requirements:</p>
<p style="text-align: left;">Number of requirements with zero link:</p>


<p style="text-align: center;"><strong>Artifact Information</strong></p>

<p style="text-align: left;">Requirements:</p>
    {% for req in requirements %}
<div>
<li style="text-align: left;">Number: {{req.number}}</li>
<li style="text-align: left;">Description: {{req.description}}</li>
<li style="text-align: left;">Number of Traced PRs: {{req.number_of_connected_prs}}</li>
<li style="text-align: left;">Number of Traced Issues: {{req.number_of_connected_issues}}</li>
<br>
</div>
    {% endfor %}

<p style="text-align: left;">Issues:</p>
    {% for issue in issues %}
<div>
<li style="text-align: left;">Number: {{issue.number}}</li>
<li style="text-align: left;">Title: {{issue.title}}</li>
<li style="text-align: left;">Status: {{issue.state}}</li>
<li style="text-align: left;">URL: {{issue.url}}</li>
<br>
</div>
    {% endfor %}

<p style="text-align: left;">PRs:</p>
    {% for pr in prs %}
<div>
<li style="text-align: left;">Number: {{pr.number}}</li>
<li style="text-align: left;">Title: {{pr.title}}</li>
<li style="text-align: left;">Status: {{pr.state}}</li>
<li style="text-align: left;">URL: {{pr.url}}</li>
<br>
</div>
    {% endfor %}

    